
:root{
  --bg-color: #f4f4f4;
  --text-color: #333;
  --theme-green: #4d0000;
  --lilac: #d4a5d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  
}
body{
  background-image: url("./assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

footer{
  color: white;
  text-align: end;
  padding: 1vh;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a{
  color: white;
  text-decoration: none;
}

nav{
  height: 15vh;
  background-color: var(--theme-green);
  padding: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.7);
  opacity: 0.6;
}

nav h1{
  color: white;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

nav > div{
  display: flex;
  gap: 2vh;
}

nav button{
  
  color: white;
  padding: 1vh 2vh;
  background: none;
  border: none;
  height:auto;
  border-radius: 7px;
  margin: 0;
  display: inline;
  font-size: 1.5rem;
  cursor: pointer;
}

nav button:hover{
  opacity: 1;
  font-size: 2rem;
}