
:root{
  --bg-color: #f4f4f4;
  --text-color: #333;
  --theme-red: #4d0000;
  --lilac: #d4a5d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  
}
body{
  background-image: url("./assets/images/bg10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  font-family: sans-serif;
  
}

footer{
  color: white;
  text-align: end;
  padding: 1vh;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a{
  color: white;
  text-decoration: none;
}


nav{
  height: 15vh;
  /*background-color: var(--theme-green);*/
  padding: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  opacity: 1;
}

nav h1{
  color: white;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

nav > div{
  display: flex;
  gap: 2vh;
}

nav button{
  
  color: white;
  padding: 1vh 2vh;
  background: none;
  border: none;
  height:auto;
  border-radius: 7px;
  margin: 0;
  display: inline;
  font-size: 1.5rem;
  cursor: pointer;
}

nav button:hover{
  opacity: 1;
  font-size: 2rem;
}

#container{
  height: 85vh;
}

/* Home Page */
.home{
  color: white;
  width: 50%;
  height: 85vh;
  padding:0vh 0vh 0vh 5vh;
}
.home h1{
  font-size: 6.7rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 5px 10px;
}

.home p{
  font-size: 1.5rem;
  color: white;
  line-height: 3rem;
  padding: 2vh;
  text-align: justify;

}

.why-us{
  color: white;
  padding: 5vh;
  background-color: rgb(32, 0, 4);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.why-us p{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;

}

.why-us h1{
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: cursive;
}

.why-us-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  line-height: 2rem;
  justify-content: center;
}

.why-us-content p{
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.why-us-content h3{
  font-size: 1.7rem;
  text-align: center  ;
}

.why-us-content > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7vh;
}

.testimonial-part{
  width: 100%;
  height: 70vh;
  background-color:rgb(0, 0, 0);
  padding: 5vh;
  color: white;
  justify-content: center;
}

.below{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 10fr 1fr;
}
.testimonial-part h1{
  font-size: 3rem;
  text-align: center;
  font-family: cursive;
}

.testimonial-part p{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  line-height: 5rem;
}

.testimonial-part button{
  color: white;
  padding: 1vh 2vh;
  background: none;
  border: none;
  height:auto;
  border-radius: 7px;
  margin: 0;
  display: inline;
  font-size: 2rem;
  cursor: pointer;
  justify-self: center;
}

.testimonial-part button:hover{
  font-size: 3rem;
}
.quote{
  font-size: 10rem;
}

.testContent{
  font-size: 2rem;
}

.name{
  font-size: 1.5rem;

}
/* Menu Page */

.menu{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: pink;
}

